.action-text {
  display: inline-block;
  margin-left: 6px;
  line-height: 15px;
}
.author-icon {
  display: inline-block;
  margin: 0 4px;
}
.action-text {
  display: inline-block;
  margin-left: 6px;
  line-height: 15px;
}
.form-submit {
  margin-top: 8px;
}
