.tdesign-demo-block-row {
    display: flex;
    column-gap: 16px;
    align-items: center;
    margin-bottom: 12px;
}

.switch-demo .tdesign-demo-block {
    width: 150px;
    display: flex;
    justify-content: space-around;
}
